.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
/* Solution 1 */
.ex-1-square:hover{
    background-color: red;
    transition: 2s;
    
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
/* Solution 2 */
.ex-2-square:active{
    background-color: red;
    width: 100%;
    transition: 2s;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
/* Solution 3 */
.ex-3-square:hover {
    border-radius: 50%;
    transition: 2s;
    background: red;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
/* Solution 4 */
.ex-4-square:hover {
    transition: 2s;
    background: #F5F5F5;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
/* Solution 5 */
.ex-5-square:hover {
    transition: 2s;
    background: red;
    height: 200px;
    width: 200px;
}

.ex-5-square:active {
    transition: 2s;
    background: red;
    height: 25px;
    width: 25px;
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}
/* Solution 6 */
.ex-6-img:hover {
    filter: grayscale(100%);
}

/* Solution 7 */
.ex-7-img:hover {
    filter: grayscale(100%);
    transition: 2s
}

/* Solution 8 */
.ex-8-img:hover {
    filter: sepia(90%);
    transition: 2s;
    border-radius: 20%;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
/* Solution 9 */
.ex-9-img:hover {
    filter: sepia(90%);
    transition: 2s;
    border-radius: 20%;
    transform: scale(1.5);
}

/* Solution 10 */
.ex-10-icon {
    font-size: 60px;
    animation: load 1s linear infinite;
}
    @keyframes load {
        0% {
            transform: rotate(360deg);
        }
    }


.ex-11-icon {
    font-size: 60px;
}
/* Solution 11 */
.ex-11-icon:hover {
    font-size: 60px;
    animation: spin-back 2s linear;
}

@keyframes spin-back {
    0% {transform: rotate(0deg);}
    70% {transform: rotate(320deg);}
    100% {transform: rotate(0deg);}
}



.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* Solution 12 */
.ex-12-button:hover .ex-12-top-white {
    animation: front 2s infinite;
}

@keyframes front {
    0% {top: -10px;
        left: 20%;}
    50% {top: -10px;
        left: 60%;}
    100% {top: -10px;
        left: 20%;}

}

.ex-12-button:hover .ex-12-bottom-white {
    animation: back 2s infinite;
}

@keyframes back {
    0% {bottom: -10px;
        right: 20%;}
    50% {bottom: -10px;
        right: 60%;}
    100% {bottom: -10px;
        right: 20%;}

}

/* Solution 13 */

.ex-13-button:hover .ex-13-top-white {
    animation: front-13 3s infinite;
}

@keyframes front-13 {
    0% {top: -20px;
        left: 0;}

    25% {top: -10px;
        left: 160px;}

    50% {top: 60px;
        left: 160px;}

    75% {top: 60px;
        left: -20px;}


    100% {top: -20px;
        left: 0;}
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: back-13 3s infinite;
}

@keyframes back-13 {
    0% {bottom: -20px;
        right: 0;}

    25% {bottom: -20px;
        right: 160px;}

    50% {bottom: 60px;
        right: 160px;}

    75% {bottom: 60px;
        right: -20px;}


    100% {bottom: -20px;
        right: 0;}
}